<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="game">
            <h2><span jhiTranslate="thorneoApp.game.detail.title">Game</span> {{game.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="thorneoApp.game.title">Title</span></dt>
                <dd>
                    <span>{{game.title}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.game.description">Description</span></dt>
                <dd>
                    <span>{{game.description}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.game.category">Category</span></dt>
                <dd>
                    <span jhiTranslate="{{'thorneoApp.Category.' + game.category}}">{{game.category}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.game.minAge">Min Age</span></dt>
                <dd>
                    <span>{{game.minAge}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/game', game.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
