</br>
<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="!currentAccount.authorities.includes('ROLE_SPONSOR') && !currentAccount.authorities.includes('ROLE_ADMIN')"  class="carousel-inner" 
                style="max-height:120px; max-width: 720px">
            <div class="carousel-item active">
                <a href="{{sponsorship.targetUrl}}"><img width="100%" class="d-block img-responsive" src="{{sponsorship.banner}}"></a>
            </div>
        </div>
    </div>
</div>
</br>
<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="game">
            <table class="table detailTable" style="border: 2px solid #2792f2; margin: 25px auto; border-radius: 0.25rem;
            border-collapse: separate;
            border-spacing: 0;">
                <thead>
                <tr>
                    <th colspan="2">
                    <h2 class="text-center">{{game.title}}</h2>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><p class="bold" jhiTranslate="thorneoApp.game.description"></p></td>
                    <td><p> {{game.description}}</p></td>
                </tr>
                <tr>
                    <td><p class="bold" jhiTranslate="thorneoApp.game.category"></p></td>
                    <td><p jhiTranslate="thorneoApp.Category.{{game.category}}">Game category</p></td>
                </tr>
                <tr>
                    <td><p class="bold" jhiTranslate="thorneoApp.game.minAge">Min Age</p></td>
                    <td><p> {{game.description}}</p></td>
                </tr>
                <tr>
                    <td><p class="bold" jhiTranslate="thorneoApp.game.description"></p></td>
                    <td><p> {{game.minAge}}</p></td>
                </tr>
                </tbody>
            </table>
            <button type="submit" (click)="previousState()" class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/game', game.id, 'edit']" class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
</br>
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="!currentAccount.authorities.includes('ROLE_SPONSOR') && !currentAccount.authorities.includes('ROLE_ADMIN')"  class="carousel-inner" >
            <div class="carousel-item active">
                <a href="{{sponsorship.targetUrl}}"><img width="100%" class="d-block w-100" src="{{sponsorship.banner}}"></a>
            </div>
        </div>
    </div>
</div>
</br>
    
