<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="promotion">
            <h2><span jhiTranslate="thorneoApp.promotion.detail.title">Promotion</span> {{promotion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <p jhiTranslate="thorneoApp.promotion.title">Title</p>
                
                    <p>{{promotion.title}}</p>
                
                <p jhiTranslate="thorneoApp.promotion.qr">Qr</p>
                
                    <p>{{promotion.qr}}</p>
                
                <p jhiTranslate="thorneoApp.promotion.user">User</p>
                
                    {{promotion.user?.id}}
                
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <td *jhiHasAnyAuthority="'ROLE_SPONSOR'" >
            <button *ngIf="promotion.user.id==currentAccount.id" type="button"
                    [routerLink]="['/promotion', promotion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
            </td>
            <td *jhiHasAnyAuthority="'ROLE_ADMIN'" >
                <button type="button"
                        [routerLink]="['/promotion', promotion.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
            </td>
        </div>
    </div>
</div>
