
<footer class="footer lateral">
    <div class="footer-row row align-center col-md-12">
        <div class="footer-column col-md-4">
            <nav class="footer-nav-footer">
                <a href="https://angular.io/"><img src="../../../content/images/angular.png" /> </a>
                <a href="https://www.jhipster.tech/"><img src="../../../content/images/jhipster.png" /> </a> 
            </nav>
        </div>
        <div class="footer-column col-md-4">
            <div class="footer-logos">
                <a href="#"><img src="../../../content/images/logo.png" /> </a>    
            </div>
        </div>
        <div class="footer-column col-md-4">
            <nav class="footer-nav-footer">
                <a href="https://www.instagram.com/thorneodevs/"><img src="../../../content/images/instagram.png" /></a>
                <a href="https://www.facebook.com/thorneo.devs.9"><img src="../../../content/images/twitter.png" /></a>
                <a href="https://twitter.com/ThorneoD"><img src="../../../content/images/facebook.png" /></a>
            </nav>
        </div> 
    </div>  
</footer>