
<footer class="footer lateral">
    <div class="footer-row row align-center col-md-12">
        <div class="footer-column col-md-4">
            <nav class="footer-nav-footer">
                <a href="https://angular.io/"><img src="../../../content/images/angular.png" /> </a>
                <a href="https://www.jhipster.tech/"><img src="../../../content/images/jhipster.png" /> </a> 
            </nav>
        </div>
        <div class="footer-column col-md-4">
            <div class="footer-logos">
                <a href="#"><img src="../../../content/images/logo.png" /> </a>    
            </div>
        </div>
        <div class="footer-column col-md-4">
            <nav class="footer-nav-social">
                <a class="nav-link" target="_blank" href="https://twitter.com/thorneo">Twitter</a>
                <a class="nav-link" target="_blank" href="https://www.instagram.com/thorneo/">Instagram</a>
                <a class="nav-link" target="_blank" href="https://www.youtube.com/thorneo">Youtube</a>
            </nav>
        </div> 
    </div>  
</footer>