<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="participant">
            <h2><span jhiTranslate="thorneoApp.participant.detail.title">Participant</span> {{participant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="thorneoApp.participant.disqualify">Disqualify</span></dt>
                <dd>
                    <span>{{participant.disqualify}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.participant.rank">Rank</span></dt>
                <dd>
                    <span>{{participant.rank}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.participant.free">Free</span></dt>
                <dd>
                    <div *ngIf="participant.free">
                        <a [routerLink]="['/free', participant.free?.id, 'view']">{{participant.free?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="thorneoApp.participant.premium">Premium</span></dt>
                <dd>
                    <div *ngIf="participant.premium">
                        <a [routerLink]="['/premium', participant.premium?.id, 'view']">{{participant.premium?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="thorneoApp.participant.sponsor">Sponsor</span></dt>
                <dd>
                    <div *ngIf="participant.sponsor">
                        <a [routerLink]="['/sponsor', participant.sponsor?.id, 'view']">{{participant.sponsor?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/participant', participant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
