<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="puntuation">
            <h2><span jhiTranslate="thorneoApp.puntuation.detail.title">Puntuation</span> {{puntuation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="thorneoApp.puntuation.index">Index</span></dt>
                <dd>
                    <span>{{puntuation.index}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.puntuation.points">Points</span></dt>
                <dd>
                    <span>{{puntuation.points}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.puntuation.round">Round</span></dt>
                <dd>
                    <span>{{puntuation.round}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.puntuation.tournament">Tournament</span></dt>
                <dd>
                    <div *ngIf="puntuation.tournament">
                        <a [routerLink]="['/tournament', puntuation.tournament?.id, 'view']">{{puntuation.tournament?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="thorneoApp.puntuation.participation">Participation</span></dt>
                <dd>
                    <div *ngIf="puntuation.participation">
                        <a [routerLink]="['/participation', puntuation.participation?.id, 'view']">{{puntuation.participation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/puntuation', puntuation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
