<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sponsorship">
            <h2 class="text-center" ><h2 class=" d-inline" jhiTranslate="thorneoApp.sponsorship.detail.title"></h2><h2 class="d-inline"> {{sponsorship.id}}</h2></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <img class="img-fluid mx-auto d-block" width="200" height="auto" src="{{sponsorship.targetUrl}}"/>
            <dl class="row-md jh-entity-details paper">
                <div class="lines">
                    <div class="texto" >
                    <p class="bold" jhiTranslate="thorneoApp.sponsorship.banner">Banner</p><p>: <a href="{{sponsorship.banner}}">{{sponsorship.banner}}"</a></p>
                    </br>             
                    <p class="bold" jhiTranslate="thorneoApp.sponsorship.targetUrl">Target Url</p><p>: <a href="{{sponsorship.targetUrl}}">{{sponsorship.targetUrl}}</a></p>
                    </br>
                    </div>
                </div>
                <div class="holes hole-top"></div>
                <div class="holes hole-middle"></div>
                <div class="holes hole-bottom"></div>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sponsorship', sponsorship.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
