<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="actor">
            <h2><span jhiTranslate="thorneoApp.actor.detail.title">Actor</span> {{actor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="thorneoApp.actor.name">Name</span></dt>
                <dd>
                    <span>{{actor.name}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.actor.surname">Surname</span></dt>
                <dd>
                    <span>{{actor.surname}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.actor.photo">Photo</span></dt>
                <dd>
                    <span>{{actor.photo}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.actor.email">Email</span></dt>
                <dd>
                    <span>{{actor.email}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.actor.phone">Phone</span></dt>
                <dd>
                    <span>{{actor.phone}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.actor.userAccount">User Account</span></dt>
                <dd>
                    <div *ngIf="actor.userAccount">
                        <a [routerLink]="['/user-account', actor.userAccount?.id, 'view']">{{actor.userAccount?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/actor', actor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
