<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-actor-heading" jhiTranslate="thorneoApp.actor.home.createOrEditLabel">Create or edit a Actor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!actor.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="actor.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thorneoApp.actor.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="actor.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thorneoApp.actor.surname" for="field_surname">Surname</label>
                    <input type="text" class="form-control" name="surname" id="field_surname"
                        [(ngModel)]="actor.surname" required/>
                    <div [hidden]="!(editForm.controls.surname?.dirty && editForm.controls.surname?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.surname?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thorneoApp.actor.photo" for="field_photo">Photo</label>
                    <input type="text" class="form-control" name="photo" id="field_photo"
                        [(ngModel)]="actor.photo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thorneoApp.actor.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="actor.email" required/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thorneoApp.actor.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="actor.phone" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thorneoApp.actor.userAccount" for="field_userAccount">User Account</label>
                    <select class="form-control" id="field_userAccount" name="userAccount" [(ngModel)]="actor.userAccount">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userAccountOption.id === actor.userAccount?.id ? actor.userAccount : userAccountOption" *ngFor="let userAccountOption of useraccounts; trackBy: trackUserAccountById">{{userAccountOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
