<h1 jhiTranslate="law.title">Términos y condiciones</h1>
<p jhiTranslate="law.law1"></p>
<p jhiTranslate="law.law2"></p>
<p jhiTranslate="law.law3"></p>
<h3 jhiTranslate="law.law4"></h3>
<p jhiTranslate="law.law5"></p>
<h3 jhiTranslate="law.law6"></h3>
<p jhiTranslate="law.law7"></p>
<h3 jhiTranslate="law.law8"></h3>
<p jhiTranslate="law.law9"></p>
<p jhiTranslate="law.law10"></p>
<p jhiTranslate="law.law11"></p>
<p jhiTranslate="law.law12"></p>
<p jhiTranslate="law.law13"></p>
<h3 jhiTranslate="law.law14"></h3>
<p jhiTranslate="law.law15"></p>
<p jhiTranslate="law.law16"></p>
<h3 jhiTranslate="law.law17"></h3>
<p jhiTranslate="law.law19"></p>
<p jhiTranslate="law.law20"></p>
<p jhiTranslate="law.law21"></p>
<p jhiTranslate="law.law22"></p>
<p jhiTranslate="law.law23"></p>
<p jhiTranslate="law.law24"></p>
<p jhiTranslate="law.law26"></p>
<p jhiTranslate="law.law27"></p>
<p jhiTranslate="law.law28"></p>
<p jhiTranslate="law.law29"></p>
<p jhiTranslate="law.law30"></p>
<p jhiTranslate="law.law31"></p>
<p jhiTranslate="law.law32"></p>
<p jhiTranslate="law.law33"></p>
<h3 jhiTranslate="law.law34"></h3>
<p jhiTranslate="law.law35"></p>
<h3 jhiTranslate="law.law36"></h3>
<p jhiTranslate="law.law37"></p>
<p jhiTranslate="law.law28"></p>
<p jhiTranslate="law.law39"></p>
<p jhiTranslate="law.law40"></p>
<h3 jhiTranslate="law.law41"></h3>
<p jhiTranslate="law.law42"></p>
<h3 jhiTranslate="law.law43"></h3>
<p jhiTranslate="law.law44"></p>
<h3 jhiTranslate="law.law45"></h3>
<p jhiTranslate="law.law46"></p>

