<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sponsor">
            <h2><span jhiTranslate="thorneoApp.sponsor.detail.title">Sponsor</span> {{sponsor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="thorneoApp.sponsor.actor">Actor</span></dt>
                <dd>
                    <div *ngIf="sponsor.actor">
                        <a [routerLink]="['/actor', sponsor.actor?.id, 'view']">{{sponsor.actor?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="thorneoApp.sponsor.tournament">Tournament</span></dt>
                <dd>
                    <span *ngFor="let tournament of sponsor.tournaments; let last = last">
                        <a [routerLink]="['/tournament', tournament?.id, 'view' ]">{{tournament.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sponsor', sponsor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
