<div>
    <h2 id="page-heading">
        <span jhiTranslate="thorneoApp.punctuation.home.title">Punctuations</span>
        
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'thorneoApp.punctuation.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="punctuations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="thorneoApp.punctuation.player">Player</span></th>
            <th><span jhiTranslate="thorneoApp.punctuation.points">Points</span></th>
            <th><span jhiTranslate="thorneoApp.punctuation.round">Round</span></th>
        
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let punctuation of punctuations ;trackBy: trackId">
               
                <td>{{punctuation.participation.user.login}}</td>
                <td>{{punctuation.points}}</td>
                <td>{{punctuation.round}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        
                        <button type="submit"
                                [routerLink]="['/punctuation', punctuation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
