<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="!currentAccount.authorities.includes('ROLE_SPONSOR') && !currentAccount.authorities.includes('ROLE_ADMIN')"  class="carousel-inner" style="max-height:120px; max-width:720px" >
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{sponsorship.targetUrl}}">
            </div>
        </div>
        <div *ngIf="tournament">
            <h2 class="text-center">{{tournament.title}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <img class="img-fluid mx-auto d-block" width="200" height="auto" src="{{tournament.imageUrl}}"/>
            <dl class="row-md jh-entity-details paper">
                <div class="lines">
                    <div class="texto" >
                        <p class="bold" jhiTranslate="thorneoApp.tournament.description">Description</p><p> {{tournament.description}}</p>
                        </br>
                        <p class="bold" jhiTranslate="thorneoApp.tournament.meetingDate">Meeting Date</p><p> {{tournament.meetingDate}}</p>
                        </br>
                        <p class="bold" jhiTranslate="thorneoApp.tournament.meetingPoint">Meeting Point</p><p> {{tournament.meetingPoint}}</p>
                        </br>
                        <p class="bold" jhiTranslate="thorneoApp.tournament.city">City</p><p> {{tournament.city}}</p>
                        </br>
                        <p class="bold"jhiTranslate="thorneoApp.tournament.price">Price</p><p> {{tournament.price}}</p><!-- Habria que poner un if notnull se muestra -->
                        </br>
                        <p class="bold" jhiTranslate="thorneoApp.tournament.playerSize">Player Size</p><p> {{tournament.playerSize}}</p>
                        </br>
                        <p class="bold" jhiTranslate="thorneoApp.tournament.rewards">Rewards</p><p> {{tournament.rewards}}</p>
                        </br>
                        <p class="bold"jhiTranslate="thorneoApp.tournament.type">Type</p><p jhiTranslate="{{'thorneoApp.Type.' + tournament.type}}">{{tournament.type}}</p>
                        </br>
                        <p  class="bold"jhiTranslate="thorneoApp.tournament.user">User</p><p>{{tournament.user?.login}}</p>
                        </br>
                        <p  class="bold"jhiTranslate="thorneoApp.tournament.game">Game</p>
                        <span *ngIf="tournament.game">
                            <p>: </p><a [routerLink]="['/game', tournament.game?.id, 'view']">{{tournament.game?.title}}</a>
                        </span>
                        </br>
                        <p class="bold" jhiTranslate="thorneoApp.tournament.participation">Participants</p>
                        <ul>
                            <li *ngFor="let participation of tournament.participations" class="mt-1">
                                {{participation.user.login}}
                               <!-- <button *ngIf="currentAccount.login == tournament.user.login && tournament.type == 'ELIMINATION'" type="submit"
                                        (click)="disqualify(participation.id)"
                                        class="btn btn-sm btn-danger">
                                    <span jhiTranslate="thorneoApp.tournament.disqualify">Disqualify</span>
                                </button> -->
                                <button *ngIf="currentAccount.login == tournament.user.login && tournament.type == 'POINT'" type="submit"
                                        (click)="win(participation.id)"
                                        class="btn btn-sm btn-primary">
                                    <span jhiTranslate="thorneoApp.tournament.win">Win</span>
                                </button>
                                <button *ngIf="currentAccount.login == tournament.user.login && tournament.type == 'POINT'" type="submit"
                                        (click)="tie(participation.id)"
                                        class="btn btn-sm btn-danger">
                                    <span jhiTranslate="thorneoApp.tournament.tie">Tie</span>
                                </button>
                            </li>
                        </ul>
                        <!--
                        <qrcode qrdata="http://localhost:9000/#/tournament/24/view" size="256" level="M"></qrcode>
                        -->
                        <span *ngIf="tournament.winner != null"><p class="bold" jhiTranslate="thorneoApp.tournament.winner"><p>: </p> Winner</span>
                        <span *ngIf="tournament.winner != null"><p>{{tournament.winner}}</p></span>
                    </div>
                </div>
                <div class="holes hole-top"></div>
                <div class="holes hole-middle"></div>
                <div class="holes hole-bottom"></div>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button *ngIf="tournament.user.login==currentAccount.login && tournament.winner == null" type="button"
                    [routerLink]="['/tournament', tournament.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span class="d-none d-md-inline" jhiTranslate="entity.action.edit"> Edit</span>
            </button>
            <!--
            <button *ngIf="tournament.user.login==currentAccount.login && tournament.type === 'POINT' || currentAccount.authorities.includes('ROLE_ADMIN') && tournament.type === 'POINT'" type="submit"
                [routerLink]="['/tournament', tournament.id, 'manage-group' ]"
                class="btn btn-primary">
                <fa-icon [icon]="'wrench'"></fa-icon>&nbsp;<span class="d-none d-md-inline" jhiTranslate="entity.action.manage">Manage</span>
            </button>-->
            <!--Creado un if else para que no salgan los dos botones-->
            <div class="d-inline"  *ngIf="tournament.participations.length > 1 && tournament.meetingDate.isBefore(currentDate)">
                    <div *ngIf="tournament.user.login===currentAccount.login; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>
                            <button  type="button "
                                     [routerLink]="['/tournament', tournament.id, 'manage' ]"
                                     class="btn btn-primary">
                                <fa-icon [icon]="'wrench'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.manage">Manage</span>
                            </button>
                        </ng-template>
                        <ng-template #elseBlock><button type="button "
                                                        [routerLink]="['/tournament', tournament.id, 'manager' ]"
                                                        class="btn btn-primary">
                            <fa-icon [icon]="'wrench'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.manage">Manage</span>
                        </button></ng-template>
                </div>
            <button *ngIf="tournament.winner == null && tournament.user.login != currentAccount.login && tournament.participations.length < tournament.playerSize" type="submit"
                    (click)="signOn()"
                    class="btn btn-primary green-background">
                <fa-icon [icon]="'arrow-right'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.signOn"> Sign On</span>
            </button>
            <button *ngIf="tournament.winner == null && tournament.user.login == currentAccount.login && tournament.meetingDate.isBefore(currentDate)" type="submit"
                    (click)="close()"
                    class="btn btn-primary red">
                <span jhiTranslate="entity.action.close">Close tournament</span>
            </button>

            <div *ngIf="!currentAccount.authorities.includes('ROLE_SPONSOR') && !currentAccount.authorities.includes('ROLE_ADMIN')"  class="carousel-inner" style="max-height:120px; max-width:720px" >
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{sponsorship.targetUrl}}">
                </div>
            </div>
        </div>
    </div>
</div>
