<div class="row justify-content-center">
    <div class="col-8">
        <h2>Cronómetro</h2>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="start()">
            <fa-icon [icon]="'clock'"></fa-icon>&nbsp;<span jhiTranslate="crono.start"></span>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="lapso()">
            <fa-icon [icon]="'flag'"></fa-icon>&nbsp;<span jhiTranslate="crono.lapso"></span>
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="stop()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="crono.stop"></span>
        </button>
        <div>
            <p>{{hora}} : {{minuto}} : {{segundos}}</p>
            <p *ngFor="let i of collection">
                {{i.hora}} : {{i.minuto}} : {{i.segundos}}
            </p>
        </div>
    </div>
</div>

<div>
  <h1>{{tournament.title}}</h1>
  <h1>ESTO ES EL TIPO TABLE - GROUP</h1>
  <table>
      <tr>
        <th>Participant</th>
        <th>Points</th>
      </tr>
      <tr *ngFor="let participation of tournament.participations">
        <td>{{participation.user.login}}</td>
        <td>{{participation.punctuation}}</td>
      </tr>


    </table>
    <div class="prueba"></div>
  
</div>


