<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="!currentAccount.authorities.includes('ROLE_SPONSOR') && !currentAccount.authorities.includes('ROLE_ADMIN')"  class="carousel-inner" 
                style="max-height:120px; max-width: 720px">
            <div class="carousel-item active">
                <a href="{{sponsorship.targetUrl}}"><img width="100%" class="d-block img-responsive" src="{{sponsorship.banner}}"></a>
            </div>
        </div>
    </div>
</div>
</br>
<div>
        <h2  id="page-heading">
            <span jhiTranslate="thorneoApp.tournament.home.title2">My Tournaments</span>
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tournament" [routerLink]="['/tournament/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span class="hidden-sm-down"  jhiTranslate="thorneoApp.tournament.home.createLabel">
                Create new Tournament
                </span>
            </button>
        </h2>
        <br/>
        <div class="table-responsive" *ngIf="tournaments" >
            <table class="table table-striped" >
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
               
                <th jhiSortBy="title" ><span jhiTranslate="thorneoApp.tournament.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="city"><span jhiTranslate="thorneoApp.tournament.city">City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="game.id"><span jhiTranslate="thorneoApp.tournament.game">Game</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let tournament of tournaments ;trackBy: trackId">
                       
                    <td *ngIf="tournament.user.login==currentAccount.login">{{tournament.title}}</td>
    
                    <td *ngIf="tournament.user.login==currentAccount.login">{{tournament.city}}</td>
    
                    <td *ngIf="tournament.user.login==currentAccount.login">
                        <div *ngIf="tournament.game">
                            <a [routerLink]="['../game', tournament.game?.id, 'view' ]" >{{tournament.game?.title}}</a>
                        </div>
                    </td>
                    <td class="text-right" *ngIf="tournament.user.login==currentAccount.login">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/tournament', tournament.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
    
                            <button *ngIf="(tournament.user.login==currentAccount.login || currentAccount.authorities.includes('ROLE_ADMIN')) && tournament.meetingDate.isAfter(currentDate)" type="submit"
                                    [routerLink]="['/tournament', tournament.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
    
                            <button  *ngIf="(tournament.user.login==currentAccount.login || currentAccount.authorities.includes('ROLE_ADMIN')) && tournament.meetingDate.isAfter(currentDate)" type="submit"
                                    [routerLink]="['/', 'tournament', { outlets: { popup: tournament.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                            <div class="d-inline"  *ngIf="tournament.participations.length > 1 && tournament.meetingDate.isBefore(currentDate)">
                                <button *ngIf="tournament.user.login==currentAccount.login && tournament.type === 'ELIMINATION' || currentAccount.authorities.includes('ROLE_ADMIN') && tournament.type === 'ELIMINATION'" type="submit"
                                    [routerLink]="['/tournament', tournament.id, 'manager' ]"
                                    class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'wrench'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.manage">Manage</span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="tournaments && tournaments.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
