</br>
<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="!currentAccount.authorities.includes('ROLE_SPONSOR') && !currentAccount.authorities.includes('ROLE_ADMIN')"  class="carousel-inner" 
                style="max-height:120px; max-width: 720px">
            <div class="carousel-item active">
                <a href="{{sponsorship.targetUrl}}"><img width="100%" class="d-block img-responsive" src="{{sponsorship.banner}}"></a>
            </div>
        </div>
    </div>
</div>
</br>
<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="tournament">
            <jhi-alert-error></jhi-alert-error>
            <img class="img-fluid mx-auto d-block" width="200" height="auto" src="{{tournament.imageUrl}}"/>

            <div class="row-md jh-entity-details">
                <table class="table detailTable" style="border: 2px solid #2792f2; margin: 25px auto; border-radius: 0.25rem;
                border-collapse: separate;
                border-spacing: 0;">
                  <thead>
                    <tr>
                      <th colspan="2">
                        <h2 class="text-center">{{tournament.title}}</h2>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td><p class="bold" jhiTranslate="thorneoApp.tournament.description">Description</p></td>
                        <td><p> {{tournament.description}}</p></td>
                    </tr>
                    <tr>
                        <td><p class="bold" jhiTranslate="thorneoApp.tournament.meetingDate">Meeting Date</p></td>
                        <td><p> {{tournament.meetingDate}}</p></td>
                    </tr>
                    <tr>
                        <td><p class="bold" jhiTranslate="thorneoApp.tournament.meetingPoint">Meeting Point</p></td>
                        <td><p> {{tournament.meetingPoint}}</p></td>
                    </tr>
                    <tr>
                        <td><p class="bold" jhiTranslate="thorneoApp.tournament.city">City</p></td>
                        <td><p> {{tournament.city}}</p> </td>
                    </tr>
                    <tr>
                        <td><p class="bold"jhiTranslate="thorneoApp.tournament.price">Price</p></td>
                        <td><p> {{tournament.price}}</p></td>
                    </tr>
                    <tr>
                        <td><p class="bold" jhiTranslate="thorneoApp.tournament.playerSize">Player Size</p></td>
                        <td><p>{{tournament.playerSize}}</p></td>
                    </tr>
                    <tr>
                        <td><p class="bold" jhiTranslate="thorneoApp.tournament.rewards">Rewards</p></td>
                        <td><p> {{tournament.rewards}}</p></td>
                    </tr>
                    <tr>
                        <td><p class="bold"jhiTranslate="thorneoApp.tournament.type">Type</p></td>
                        <td><p jhiTranslate="{{'thorneoApp.Type.' + tournament.type}}">{{tournament.type}}</p></td>
                    </tr>
                    <tr>
                        <td><p  class="bold"jhiTranslate="thorneoApp.tournament.user">User</p></td>
                        <td><p>{{tournament.user?.login}}</p></td>
                    </tr>
                    <tr>
                        <td><p  class="bold"jhiTranslate="thorneoApp.tournament.game">Game</p></td>
                        <td>
                            <span *ngIf="tournament.game">
                                <a [routerLink]="['/game', tournament.game?.id, 'view']">{{tournament.game?.title}}</a>
                            </span>
                        </td>
                    </tr>
                  </tbody>
                </table>
                <table class="table detailTable" style="border: 2px solid #2792f2; margin: 25px auto; border-radius: 0.25rem;
                border-collapse: separate;
                border-spacing: 0;">
                <thead>
                    <tr>
                        <th colspan="3"><h2 class="text-center" jhiTranslate="thorneoApp.tournament.participation">Participants</h2></th>
                    </tr>
                </thead>
                    <tr *ngFor="let participation of tournament.participations">
                        <td>{{participation.user.login}}</td>
                        <td>{{participation.user.firstName}}</td>
                        <td>{{participation.user.lastName}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold" jhiTranslate="thorneoApp.tournament.winner">Winner</span></td>
                        <td><span>{{tournament.winner}}</span></td>
                    </tr>
                </table>
                <!--
                <ul>
                    <li *ngFor="let participation of tournament.participations" class="mt-1">
                        {{participation.user.login}}
                        <button *ngIf="currentAccount.login == tournament.user.login && tournament.type == 'ELIMINATION'" type="submit"
                                (click)="disqualify(participation.id)"
                                class="btn btn-sm btn-danger">
                            <span jhiTranslate="thorneoApp.tournament.disqualify">Disqualify</span>
                        </button> 
                        <button *ngIf="currentAccount.login == tournament.user.login && tournament.type == 'POINT'" type="submit"
                                (click)="win(participation.id)"
                                class="btn btn-sm btn-primary">
                            <span jhiTranslate="thorneoApp.tournament.win">Win</span>
                        </button>
                        <button *ngIf="currentAccount.login == tournament.user.login && tournament.type == 'POINT'" type="submit"
                                (click)="tie(participation.id)"
                                class="btn btn-sm btn-danger">
                            <span jhiTranslate="thorneoApp.tournament.tie">Tie</span>
                        </button>
                    </li>
                </ul>
                
                <qrcode qrdata="http://localhost:9000/#/tournament/24/view" size="256" level="M"></qrcode>
                -->
            <jhi-alert-error></jhi-alert-error>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button *ngIf="tournament.user.login==currentAccount.login && tournament.winner == null" type="button"
                    [routerLink]="['/tournament', tournament.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span class="d-none d-md-inline" jhiTranslate="entity.action.edit"> Edit</span>
            </button>
            <!--
            <button *ngIf="tournament.user.login==currentAccount.login && tournament.type === 'POINT' || currentAccount.authorities.includes('ROLE_ADMIN') && tournament.type === 'POINT'" type="submit"
                [routerLink]="['/tournament', tournament.id, 'manage-group' ]"
                class="btn btn-primary">
                <fa-icon [icon]="'wrench'"></fa-icon>&nbsp;<span class="d-none d-md-inline" jhiTranslate="entity.action.manage">Manage</span>
            </button>-->
            <!--Creado un if else para que no salgan los dos botones-->
            <div class="d-inline"  *ngIf="tournament.participations.length > 1 && tournament.meetingDate.isBefore(currentDate)">
                        <ng-template></ng-template><button type="button "
                                                        [routerLink]="['/tournament', tournament.id, 'manager' ]"
                                                        class="btn btn-primary">
                            <fa-icon [icon]="'wrench'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.manage">Manage</span>
                        </button></ng-template>
                </div>
            <button *ngIf="tournament.winner == null && tournament.user.login != currentAccount.login && tournament.participations.length < tournament.playerSize" type="submit"
                    (click)="signOn()"
                    class="btn btn-primary green-background">
                <fa-icon [icon]="'arrow-right'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.signOn"> Sign On</span>
            </button>
            <button *ngIf="tournament.winner == null && tournament.user.login == currentAccount.login && tournament.meetingDate.isBefore(currentDate)" type="submit"
                    (click)="close()"
                    class="btn btn-primary red">
                <span jhiTranslate="entity.action.close">Close tournament</span>
            </button>
        </div>
    </div>
</div>
</br>
<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="!currentAccount.authorities.includes('ROLE_SPONSOR') && !currentAccount.authorities.includes('ROLE_ADMIN')"  class="carousel-inner" 
                style="max-height:120px; max-width: 720px">
            <div class="carousel-item active">
                <a href="{{sponsorship.targetUrl}}"><img width="100%" class="d-block img-responsive" src="{{sponsorship.banner}}"></a>
            </div>
        </div>
    </div>
</div>
</br>