<div>
  <h2 class="text-center">{{tournament.title}}</h2>
  <div class="module-border-wrap"><div class="module">
    <div class="gestionador flex-container"></div>
  </div></div>
</div>
<div *ngIf="tournament.user.login == currentAccount.login"> 
  <button 
    type="button" [routerLink]="['/punctuation', tournament.id, 'tournament' ]"
     class="btn btn-primary">
     <fa-icon [icon]="'wrench'"></fa-icon>
     <span class="d-none d-md-inline" jhiTranslate="entity.action.manage">Manage</span>
   </button>
</div>