<h1 jhiTranslate="cookies.title">Términos y condiciones</h1>
<h3 jhiTranslate="cookies.cookie1"></h3>
<p jhiTranslate="cookies.cookie2"></p>
<h3 jhiTranslate="cookies.cookie3"></h3>
<p jhiTranslate="cookies.cookie4"></p>
<p jhiTranslate="cookies.cookie5"></p>
<p jhiTranslate="cookies.cookie6"></p>
<p jhiTranslate="cookies.cookie7"></p>
<p jhiTranslate="cookies.cookie8"></p>
<p jhiTranslate="cookies.cookie9"></p>
<p jhiTranslate="cookies.cookie10"></p>
<h3 jhiTranslate="cookies.cookie11"></h3>
<p jhiTranslate="cookies.cookie12"></p>
<h3 jhiTranslate="cookies.cookie13"></h3>
<p jhiTranslate="cookies.cookie14"></p>
