<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="authority">
            <h2><span jhiTranslate="thorneoApp.authority.detail.title">Authority</span> {{authority.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="thorneoApp.authority.free">Free</span></dt>
                <dd>
                    <span>{{authority.free}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.authority.premium">Premium</span></dt>
                <dd>
                    <span>{{authority.premium}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.authority.sponsor">Sponsor</span></dt>
                <dd>
                    <span>{{authority.sponsor}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/authority', authority.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
