<div class="container" style="max-width: 100%">
    <div class="row w-100 text-center d-flex justify-content-center">
        <div class="card col-sm-3 p-0 mr-1">
            <div class="bg-primary card-img-top d-flex align-content-center justify-content-center" style="height: 200px">
                <h1 class="text-lg-center text-white text-center align-self-center">Free</h1>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card col-sm-3 p-0 mx-1">
            <div class="bg-success card-img-top d-flex align-content-center justify-content-center" style="height: 200px">
                <h1 class="text-lg-center text-white text-center align-self-center">Premium</h1>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="submit" (click)="payPremium()" class="btn btn-success">
                    <span jhiTranslate="global.menu.entities.premium">Premium</span>
                </button>
            </div>
        </div>
        <div class="card col-sm-3 p-0 ml-1">
            <div class="bg-primary card-img-top d-flex align-content-center justify-content-center" style="height: 200px; background-color: #7841e9 !important;">
                <h1 class="text-lg-center text-white text-center align-self-center">Sponsor</h1>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="submit" (click)="paySponsor()" class="btn btn-primary" style="background-color: #7841e9 !important;">
                    <span jhiTranslate="global.menu.entities.sponsor">Sponsor</span>
                </button>
            </div>
        </div>
    </div>
</div>
