    <div class="row align-center col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6 bounce-in-fwd thorneo">
                <img src="../../content/images/logo-big.png" class="wobble-hor-bottom img-fluid"/>    
            </div>
            <div class="col-md-3"></div>
    </div>

    <div class="row align-center col-md-12">
            <div class="col-md-4"></div>
            <div class="col-md-4 align-center">
                    <h1 class="h1-indice tracking-in-expand-fwd-1" jhiTranslate="home.title">Welcome to thorneo!</h1>
                    <p class="p-indice tracking-in-expand-fwd-2" jhiTranslate="home.subtitle">Your competitions, the way you want it, with the people you want it.</p>
            
                    <div [ngSwitch]="isAuthenticated()">
                        <div class="alert alert-warning tracking-in-expand-fwd-3" *ngSwitchCase="false">
                            <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                            <div class="pulsate-bck">
                                <a class="alert-link " routerLink="register" jhiTranslate="global.messages.info.register.link">
                                    Register a new account
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-4"></div>
    </div>

    <div class="row align-center col-md-12">
        <h1 class="h1-indice" jhiTranslate="home.sponsors">Our top sponsors</h1>
    </div>

    <div class="row align-center col-md-12">
        <div class="col-md-3 align-center"></div>
        <div class="col-md-6 align-center shadow p-3 mb-5 rounded  seccion-1 border border-primary" >
            <span class="logo-1 img-fluid rounded container">
                <div class="overlay">        
                <a href="http://empiregames.es/" class="text">Empire Games</a>
                </div>
            </span>
            <span class="logo-2 img-fluid rounded container">
                <div class="overlay">        
                    <a href="https://twitter.com/kamehouse_bar?lang=en" class="text">Kame House</a>
                </div>
            </span>
            <span class="logo-3 img-fluid rounded container">
                <div class="overlay">        
                    <a href="https://zacatrus.es/" class="text">Zacatrus!</a>
                </div>
            </span>
            <span class="logo-4 img-fluid rounded container">
                <div class="overlay">        
                    <a href="https://jugamosuna.es/tienda/" class="text">¿Jugamos una?</a>
                </div>
            </span>
            <span class="logo-5 img-fluid rounded container">
                <div class="overlay">        
                    <a href="https://www.facebook.com/GWSevilla/" class="text">GW Sevilla</a>
                </div>
            </span>
        </div>
        <div class="col-md-3 align-center"></div>
    </div>
