<div class="row align-center col-md-12">
        <div class="col-md-6 align-center">
            <h1 class="h1-indice" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
            <p class="p-indice" jhiTranslate="home.subtitle">This is your homepage</p>
    
            <div [ngSwitch]="isAuthenticated()">
                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                    <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
                <span class="hipster img-fluid rounded"></span>
        </div>
</div>

<div class="row align-center col-md-12">
    <h1 class="h1-indice" jhiTranslate="home.sponsors">Our top sponsors</h1>
</div>

<div class="row align-center col-md-12">
    <div class="col-md-3 align-center"></div>
    <div class="col-md-6 align-center seccion-1">
        <span class="logo-1 img-fluid rounded"></span>
        <span class="logo-2 img-fluid rounded"></span>
        <span class="logo-3 img-fluid rounded"></span>
        <span class="logo-4 img-fluid rounded"></span>
        <span class="logo-5 img-fluid rounded"></span>
        <span class="logo-6 img-fluid rounded"></span>
    </div>
    <div class="col-md-3 align-center"></div>
</div>
