/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
    display: inline-flex;
    width: 400px;
    height: 400px;
    background: url('../../content/images/logo-big.png') no-repeat center;
    background-size: contain;
    background-position: center center;
}

@media all and (max-width: 500px) {
    .thorneo img {
        padding-top: 15%;
        width: 75%;
    }
}

.logo-1 {
    display: inline-flex;
    width: 250px;
    height: 250px;
    background: url('../../content/images/empire.png') no-repeat center;
    background-size: contain;
    background-position: center center;
}

.logo-2 {
    display: inline-flex;
    width: 250px;
    height: 250px;
    background: url('../../content/images/kh.png') no-repeat center;
    background-size: contain;
    background-position: center center;
}

.logo-3 {
    display: inline-flex;
    width: 250px;
    height: 250px;
    background: url('../../content/images/zas.png') no-repeat center;
    background-size: contain;
    background-position: center center;
}

.logo-4 {
    display: inline-flex;
    width: 250px;
    height: 250px;
    background: url('../../content/images/jugamos1.png') no-repeat center;
    background-size: contain;
    background-position: center center;
}

.logo-5 {
    display: inline-flex;
    width: 250px;
    height: 250px;
    background: url('../../content/images/gwsevilla.png') no-repeat center;
    background-size: contain;
    background-position: center center;
}

.seccion-1 {
    padding: 15px;
    background-color: #9bcbf6;
    background-size: contain;
    background-position: center center;
    margin-top: 50px;
}

.h1-indice {
    margin-top: 120px;
    font-weight: bold;
    line-height: 1.5em;
    color: #222;
    font-family: 'Merriweather Sans', sans-serif;
}

.p-indice {
    line-height: 1.5em;
    color: #6e6e6e;
}

@media (max-width: 500px) {
    .h1-indice {
        /* On small screens, we are no longer using row direction but column */
        flex-wrap: wrap;
        font-size: 90%;
        margin-top: 60px;
    }
    .p-indice {
        /* On small screens, we are no longer using row direction but column */
        flex-wrap: wrap;
        font-size: 80%;
    }

    .alert {
        /* On small screens, we are no longer using row direction but column */
        flex-wrap: wrap;
        font-size: 80%;
    }

    .logo-1,
    .logo-2,
    .logo-3,
    .logo-4,
    .logo-5 {
        margin: 0cm;
        padding: 0cm;
    }
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #9bcbf6;
}

.container:hover .overlay {
    opacity: 0.95;
}

.text {
    color: #ffffff;
    font-weight: bold;
    font-size: 175%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    text-shadow: 1px 1px black;
}

.alerta {
    background-color: white !important;
}

/* jhipster-needle-scss-add-global JHipster will add new css style */

.row {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.column {
    flex: 50%;
    padding: 10px;
}

.column p {
    text-align: center;
    vertical-align: middle;
}
