/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-flex;
    width: 400px;
    height: 400px;
    background: url('../../content/images/logo-big.png') no-repeat center;
    background-size: contain;
    background-position: center center;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/logo-big.png') no-repeat center top;
        background-size: contain;
    }
}

.logo-1 {
    display: inline-flex;
    width: 250px;
    height: 250px;
    background: url('../../content/images/empire.png') no-repeat center;
    background-size: contain;
    background-position: center center;
}

.logo-2 {
    display: inline-flex;
    width: 250px;
    height: 250px;
    background: url('../../content/images/kh.png') no-repeat center;
    background-size: contain;
    background-position: center center;
}

.logo-3 {
    display: inline-flex;
    width: 250px;
    height: 250px;
    background: url('../../content/images/zas.png') no-repeat center;
    background-size: contain;
    background-position: center center;
}

.logo-4 {
    display: inline-flex;
    width: 250px;
    height: 250px;
    background: url('../../content/images/jugamos1.png') no-repeat center;
    background-size: contain;
    background-position: center center;
}

.logo-5 {
    display: inline-flex;
    width: 250px;
    height: 250px;
    background: url('../../content/images/gw.png') no-repeat center;
    background-size: contain;
    background-position: center center;
}

.seccion-1 {
    padding: 15px;
    background-color: #9bcbf6;
    background-size: contain;
    background-position: center center;
    margin-top: 50px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.flex-item {
    background: #ffffff;
    padding: 5px;
    width: 100%;
    height: auto;
    text-align: center;
}

.row {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.column {
    flex: 50%;
    padding: 10px;
}

.column p {
    text-align: center;
    vertical-align: middle;
}

.h1-indice {
    margin-top: 150px;
}

@media (max-width: 500px) {
    .h1-indice {
        /* On small screens, we are no longer using row direction but column */
        flex-wrap: wrap;
        font-size: 90%;
    }
    .p-indice {
        /* On small screens, we are no longer using row direction but column */
        flex-wrap: wrap;
        font-size: 90%;
    }

    .alert {
        /* On small screens, we are no longer using row direction but column */
        flex-wrap: wrap;
        font-size: 90%;
    }
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #9bcbf6;
}

.container:hover .overlay {
    opacity: 0.95;
}

.text {
    color: #ffffff;
    font-weight: bold;
    font-size: 175%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    text-shadow: 1px 1px black;
}

//ANIMATIONS

.pulsate-bck {
    -webkit-animation: pulsate-bck 2.5s ease-in-out infinite both;
    animation: pulsate-bck 2.5s ease-in-out infinite both;
}
@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.bounce-in-fwd {
    -webkit-animation: bounce-in-fwd 1.1s both;
    animation: bounce-in-fwd 1.1s both;
}
@-webkit-keyframes bounce-in-fwd {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: scale(0.84);
        transform: scale(0.84);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    89% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes bounce-in-fwd {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: scale(0.84);
        transform: scale(0.84);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    89% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
