<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-manager-heading" jhiTranslate="thorneoApp.manager.home.createOrEditLabel">Create or edit a Manager</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!manager.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="manager.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thorneoApp.manager.free" for="field_free">Free</label>
                    <select class="form-control" id="field_free" name="free" [(ngModel)]="manager.free" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="freeOption.id === manager.free?.id ? manager.free : freeOption" *ngFor="let freeOption of frees; trackBy: trackFreeById">{{freeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thorneoApp.manager.premium" for="field_premium">Premium</label>
                    <select class="form-control" id="field_premium" name="premium" [(ngModel)]="manager.premium" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="premiumOption.id === manager.premium?.id ? manager.premium : premiumOption" *ngFor="let premiumOption of premiums; trackBy: trackPremiumById">{{premiumOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thorneoApp.manager.sponsor" for="field_sponsor">Sponsor</label>
                    <select class="form-control" id="field_sponsor" name="sponsor" [(ngModel)]="manager.sponsor" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sponsorOption.id === manager.sponsor?.id ? manager.sponsor : sponsorOption" *ngFor="let sponsorOption of sponsors; trackBy: trackSponsorById">{{sponsorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
