<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="manager">
            <h2><span jhiTranslate="thorneoApp.manager.detail.title">Manager</span> {{manager.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="thorneoApp.manager.free">Free</span></dt>
                <dd>
                    <div *ngIf="manager.free">
                        <a [routerLink]="['/free', manager.free?.id, 'view']">{{manager.free?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="thorneoApp.manager.premium">Premium</span></dt>
                <dd>
                    <div *ngIf="manager.premium">
                        <a [routerLink]="['/premium', manager.premium?.id, 'view']">{{manager.premium?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="thorneoApp.manager.sponsor">Sponsor</span></dt>
                <dd>
                    <div *ngIf="manager.sponsor">
                        <a [routerLink]="['/sponsor', manager.sponsor?.id, 'view']">{{manager.sponsor?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/manager', manager.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
