</br>
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="!currentAccount.authorities.includes('ROLE_SPONSOR') && !currentAccount.authorities.includes('ROLE_ADMIN')"  class="carousel-inner" 
                style="max-height:120px; max-width: 720px">
            <div class="carousel-item active">
                <a href="{{sponsorship.targetUrl}}"><img width="100%" class="d-block img-responsive" src="{{sponsorship.banner}}"></a>
            </div>
        </div>
    </div>
</div>
</br>
<div>
    <h2 id="page-heading">
        <span jhiTranslate="thorneoApp.participation.home.title">Participations</span>
        <!--<button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-participation" [routerLink]="['/participation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="thorneoApp.participation.home.createLabel">
            Create new Participation
            </span>
        </button>-->
    </h2>
    <jhi-alert></jhi-alert>
   <!-- <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'thorneoApp.participation.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>-->
    <br/>
    <div class="table-responsive" *ngIf="participations">
        <table class="table">
            <thead>
            <tr>
            <!--<th><span jhiTranslate="global.field.id">ID</span></th>-->
                <!--<th><span jhiTranslate="thorneoApp.participation.disqualify">Disqualify</span></th>
                -->
                <th><span jhiTranslate="thorneoApp.participation.tournament">Tournament</span></th>
                <!--<th><span jhiTranslate="thorneoApp.participation.user">User</span></th>-->
                <th><span jhiTranslate="thorneoApp.participation.admin">Administrator</span></th>
                <th><span jhiTranslate="thorneoApp.tournament.meetingDate">Date</span></th>
                <th><span jhiTranslate="thorneoApp.tournament.meetingPoint">Meeting point</span></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let participation of participations ;trackBy: trackId">
                    <td *ngIf="participation.user.id==currentAccount.id">
                        <div *ngIf="participation.tournament" >
                            <a [routerLink]="['../tournament', participation.tournament?.id, 'view' ]" *ngIf="participation.user.id==currentAccount.id">{{participation.tournament?.title}}</a>
                        </div>
                    </td>
                        <td *ngIf="participation.user.id==currentAccount.id">{{participation.tournament?.user.login}}</td>
                        <td *ngIf="participation.user.id==currentAccount.id">{{participation.tournament?.meetingDate | date:'dd MM, yyyy'}}</td>
                        <td *ngIf="participation.user.id==currentAccount.id">{{participation.tournament?.meetingPoint}}</td>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
