<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="participation">
            <h2><span jhiTranslate="thorneoApp.participation.detail.title">Participation</span> {{participation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="thorneoApp.participation.disqualify">Disqualify</span></dt>
                <dd>
                    <span>{{participation.disqualify}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.participation.punctuation">Punctuation</span></dt>
                <dd>
                    <span>{{participation.punctuation}}</span>
                </dd>
                <dt><span jhiTranslate="thorneoApp.participation.tournament">Tournament</span></dt>
                <dd>
                    <div *ngIf="participation.tournament">
                        <a [routerLink]="['/tournament', participation.tournament?.id, 'view']">{{participation.tournament?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="thorneoApp.participation.user">User</span></dt>
                <dd>
                    {{participation.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/participation', participation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
