<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-participation-heading" jhiTranslate="thorneoApp.participation.home.createOrEditLabel">Create or edit a Participation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!participation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="participation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thorneoApp.participation.disqualify" for="field_disqualify">Disqualify</label>
                    <input type="checkbox" class="form-control" name="disqualify" id="field_disqualify"
                        [(ngModel)]="participation.disqualify" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thorneoApp.participation.punctuation" for="field_punctuation">Punctuation</label>
                    <input type="number" class="form-control" name="punctuation" id="field_punctuation"
                        [(ngModel)]="participation.punctuation" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thorneoApp.participation.tournament" for="field_tournament">Tournament</label>
                    <select class="form-control" id="field_tournament" name="tournament" [(ngModel)]="participation.tournament" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tournamentOption.id === participation.tournament?.id ? participation.tournament : tournamentOption" *ngFor="let tournamentOption of tournaments; trackBy: trackTournamentById">{{tournamentOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thorneoApp.participation.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="participation.user"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === participation.user?.id ? participation.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
